#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root .input-console{
  width: 500px;
  height: 500px;
  margin-right: 20px;
}

#root .button-wrapper{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
#root .button-wrapper .button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  font-size: 16px;
}